//
// Colors
//
/* blue */
$prussian-blue: #133C55;
$teal-blue: #3779A3;
$carolina-blue: #58A7D8;
$light-steel-blue: #B5CCE2;
$light-sky-blue: #84C9F4;
$baby-blue: #90CEF4;
/* gray */
$platinum: #EDE5E3;
$gray: #919EAA;
$slate-gray: #69829B;
$space: #424B54;

//
// Media Query Breakpoints
//
$mobile : 480px;
$tablet : 768px;
$laptop : 1024px;
$desktop : 1440px;
$cinema : 2560px;